<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
</head>
<body>
<div id="root"></div>
<div class="webpackStudy">
    <div class="huangbiao">
        <div><%= myName %></div>
        <div class="huanghaili">
            <div><%= sonName %></div>
        </div>
    </div>
    <div class="container">
        <h1>慧科云静态资源站</h1>
        <h3>Copyright&nbsp;©&nbsp;2022&nbsp;慧科云电商&nbsp;版权所有</h3>
        <h3>备案号码：<a href="https://beian.miit.gov.cn/" target="_blank">粤ICP备2022065970号-1</a></h3>
    </div>
</div>
</body>
</html>
