<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
</head>
<body>
<div id="root"></div>
<div class="webpackStudy">
    <div class="huangbiao">
        <div><%= myName %></div>
        <div class="huanghaili">
            <div><%= sonName %></div>
        </div>
    </div>
    <div class="">
        <li class="dib">
            <span class="icon iconfont">&#xe62b;</span>
            <div class="name">icon-normalization</div>
            <div class="code-name">&amp;#xe62b;</div>
        </li>

        <li class="dib">
            <span class="icon iconfont">&#xe640;</span>
            <div class="name">icon-gongyinglian</div>
            <div class="code-name">&amp;#xe640;</div>
        </li>
    </div>
</div>
</body>
</html>
